<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pokemon Interactive Map</title>
    <link rel="stylesheet" href= "../../styles/styles.css" />
  </head>

  <header class="headNfoot">
    <a href="/"><img src="../../images/main/new-website-title.png"></a>
  </header>

  <body>
    {{{body}}}
  </body>

  <footer class="headNfoot">
    <h2>Games</h2>
    <div class="footer-table">
      <table>
        <tbody>
          <tr>
            <th><a class= "footer-link-image" href="/redandblue"><img src="../../images/Red and Blue/red and blue.png"></a></th>
            <th><a class= "footer-link-image" href="/yellow"><img src="../../images/Yellow/yellow.png"></a></th>
            <th><a class= "footer-link-image" href="/fireredandleafgreen"><img src="../../images/FireRed and LeafGreen/firered and leafgreen.png"></a></th>
          </tr>
          <tr>
            <th><a class= "footer-link-image" href="/goldandsilver"><img src="../../images/Gold and Silver/gold and silver.png"></a></th>
            <th><a class= "footer-link-image" href="/crystal"><img src="../../images/Crystal/crystal.png"></a></th>
          </tr>  
          <tr>
            <th><a class= "footer-link-image" href="/rubyandsapphire"><img src="../../images/Ruby and Sapphire/ruby and sapphire.png"></a></th>
            <th><a class= "footer-link-image" href="/emerald"><img src="../../images/Emerald/emerald.png"></a></th>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Contact</h2>
    <div class="footer-table">
      <table border="0">
        <tbody>
          <tr>
            <th><a class= "footer-link-image" href="https://github.com/JoshBell302"><img src="../../images/main/github-link.png"></a></th>
            <th><a class= "footer-link-image" href="https://www.twitch.tv/thejoshawott302"><img src="../../images/main/twitch-link.png"</a></th>
            <th><a class= "footer-link-image" href="https://www.tiktok.com/@joshawott302?lang=en"><img src="../../images/main/tiktok-link.png"</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </footer>

</html>