<div class="page-decription">
    <h4>
        Hello this is the homepage of the website
    </h4>
</div>

<div>
<!-- This is for spacing the page -->
</div>

<!-- {{> table}} this is an example of a partial-->