/* To save sass to css run       sass styles.sass:styles.css      in the folder */
$dark-color: #181818
$dark-grey-color: #282828
$grey-color: #404040
$text-type: "Times New Roman", Times, sans-serif

// Inside the header and footer is the body
body
    background-color: $dark-grey-color
    margin: 0px
    color: white

// Class for the header and footer of each page
.headNfoot
    background-color: $dark-color
    width: 100%
    height: 100%
    margin: 0px
    color: white
    img
        width: 800px
        height: 150px
        display: block
        margin-left: auto
        margin-right: auto
    h2
        text-align: center
        font-family: $text-type
        color: white

// This is the Contact and Other Games table in the footer
.footer-table
    table
        margin-left: auto
        margin-right: auto

// This is the css for an image link
.footer-link-image
    img
        width: 150px
        height: 64px

// This is the text at the top of the page
//.page-decription
