<h1 class="game-homepage-title">Red and Blue</h1>

<div class="home-description">
    <h4>
        This is the first game in the Pokemon franchise. With that being 
        said this game is filled with nostalgia for the majority of the 
        fanbase.
        <br>
        In this site there will be information on the each portion that is 
        important for a player to know and keep aware of. Some of those 
        are the Pokemon you can catch on each route, the items you can
        pick up in a game, trainers you can fight and more! 
        <br>
        This information is meant for people who have played Pokemon 
        before and understand its mechanics.
    </h4>
</div>

<div class="content">
    <div class="content-menu">
        <h3>Games Table of Contents</h3>
        <dl>
            <dt>1. <a class="content-menu-links" href="/redandblue/">Homepage</a></dt>
            <dt>2. <a class="content-menu-links" href="/redandblue/pallettown">Pallet Town</a></dt>
            <dt>Pallet Town</dt>
            <dd>...</dd>
        </dl>
    </div>

    <div class="content-content">
        <h2>Pokemon Red and Pokemon Blue Version</h2>
        <img src="../../images/Red and Blue/red and blue.png">
        <h4>akjsdkajbdjkabsjdkbajkbsdkb akbsdkbasjkdbkjabdkjbasjkbdkj bkjbakjdbkabsdjkabdkjabkjsdbk akbdkjsbkajbsdjkbajksdb kbaksdbkjab kjabjksdbkj abskd bakjbs dkabskdjbak bdkjb akjdb jkab </h4>
    </div>
</div>

<div>
<!-- This is for spacing the page -->
</div>