<h1 class="game-homepage-title">Red and Blue</h1>

<div class="home-description">
    <h4>
        This is the first game in the Pokemon franchise. With that being 
        said this game is filled with nostalgia for the majority of the 
        fanbase.
        <br>
        On this site, there will be information on each portion that is 
        important for a player to know and keep aware of. Some of those 
        are the Pokemon you can catch on each route, the items you can
        pick up in a game, trainers you can fight, and more! 
        <br>
        This information is meant for people who have played Pokemon 
        before and understand its mechanics.
    </h4>
</div>

<div class="content">
    <div class="content-menu">
        <h3>Games Table of Contents</h3>
        <dl>
            <dt>1. <a class="content-menu-links" href="/redandblue/">Homepage</a></dt>
            <dt>2. <a class="content-menu-links" href="/redandblue/pallettown">Pallet Town</a></dt>
            <dt>Pallet Town</dt>
            <dd>...</dd>
        </dl>
    </div>

    <div class="content-content">
        <h2>Pokemon Red and Pokemon Blue Version</h2>
        <img src="../../images/Red and Blue/red and blue.png">
        <h3>Differences of each Game</h3>
        <h4>
            There are different Pokemon you can encounter in the two 
            games.
            <br>
            In Pokemon Red you can find: Ekans, Arbok, Oddish, Gloom, 
            Vileplume, Mankey, Primeape, Growlithe, Arcanine, Scyther, and
            Electabuzz.
            <br>
            In Pokemon Blue you can find: Sandshrew, Sandslash, Vulpix, 
            Ninetales, Meowth, Persian, Bellsprout, Weepinbell, 
            Victreebell, Magmar, and Pinsir.
            <br> <br>
            Another difference is in the game corner prizes.
            <br>
            In Pokemon Red you can get these Pokemon as prizes: 
            Abra (180), Clefairy (500), Nidorina (1200), Dratini (2800),
            Scyther (5500), Porygon (9999).
            <br>
            In Pokemon Blue you can get these Pokemon as prizes: 
            Abra (120), Clefairy (750), Nidorino (1200), Dratini (4600),
            Scyther (2500), Porygon (6500).
        </h4>
        <h3>Useful Information</h3>
        <h4>
            The opponent will always use super-effective moves despite 
            them doing little to nothing. For example imagine the final
            battle against the champion, Lance, and you have a poison type
            Pokemon out on the Lance's Dragonite. It has the Barrier 
            attack and it is a psychic type, well Lance will use that
            move non-stop on your poison type because that type is super 
            effective on it, even though it does no damage. 
            <br> <br>
            Critical hits are very interesting in this game. Critical hits 
            are determined by the speed stat in this game, most moves, and 
            items that say that they increase the chances of critical hits 
            do not and do the opposite. 
            <br> <br>
            When an opponent uses either Minimize or Substitute you can
            check the stats of one of your Pokemon to negate the use of it
            and acts as if it never was used!
            <br> <br>
            Hyper Beam in this game does not work as it was intended. 
            Normally, when you use this move you are supposed to have a 
            turn of respite and not allowed to move but there are ways 
            around it. There are two ways one is by knocking the opponent 
            out this bypasses this check and allows the Pokemon to attack
            next turn and the other is by hitting the substitute doll. 
            The last method is quite niche and that is if the Pokemon
            using Hyper Beam dodges an opponents wrap attack then they 
            will bypass the flag and be allowed to attack freely next 
            turn.  
        </h4>
        <h3>Fun Facts</h3>
        <h4>
            These games also have a "third" version that was only 
            released only in Japan, Pokemon Green. The only real 
            difference between that game and Red and Blue is a few minor 
            differences in the puzzles. Nintendo thought that Pokemon 
            would not be a success, but Nintendo was proven incorrect by 
            the work that Game Freak did.
        </h4>
    </div>
</div>

<div>
<!-- This is for spacing the page -->
</div>