<h1 class="game-homepage-title">Red and Blue</h1>

<div class="home-description">
    <h4>
        This is the first game in the Pokemon franchise. With that being said this game is 
        filled with nostalgia for the majority of the fanbase.
        <br>
        In this site there will be information on the each portion that is important 
        for a player to know and keep aware of. Some of those are the Pokemon you can catch
        on each route, the items you can pick up in a game, trainers you can fight and more! 
    </h4>
</div>

<div class="content">
    <div class="content-menu" style="background-color:#aaa;">
        <h2>Column of Menu</h2>
    </div>
    <div class="content-content" style="background-color:#bbb;">
        <h2>Column of Content</h2>
    </div>
</div>

<div>
<!-- This is for spacing the page -->
</div>