<h1 class="game-homepage-title">Red and Blue</h1>

<div class="content">
    <div class="content-menu">
        <dl>
            <h3>Games Table of Contents</h3>
            <dt>1. <a class="content-menu-links" href="/redandblue/">Homepage</a></dt>
            <dt>2. <a class="content-menu-links" href="/redandblue/pallettown">Pallet Town</a></dt>
            <dt>Pallet Town</dt>
            <dd>...</dd>
        </dl>
    </div>
    
    <div class="content-content">
        <h2>Pallet Town</h2>
        <img src="../../images/Red and Blue/pallet town.png">
    </div>
</div>